body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  color: #00B7FF;
}

.project {
  margin: 10px 18px 15px 18px;
  display: flex;
  height: 700px;
}

.blocks {
  height: 100%;
  background-color: #ffffff;
}

.program { 
  margin-left: 16px; 
  margin-right: 16px; 
  height: 100%;
  background-color: #ffffff;
}

.codLadder{
  background-color: #00000010;
  padding: 6px;
  overflow: auto;
  height: 100%;
}

.headerApp {
  padding-left: 14px;
  background-color: #1273CD;
  color: white;
  height: 33px;
  font-family: Roboto;
  font-size: 14px;
  display: flex;
  align-content: stretch;
  align-items: center;
}

.projectName {
  font-size: 14px;
  position: relative;
  margin-right: 20px;
}

.color-blue {
  color: #1273CD;
}

button {
  padding: 9px 14px;
  margin: 0px 8px;
  cursor: pointer;
  height: 36px;
  border: none;
  background-color: #E5E5E5;
  font-size: 16px;
  color: #1273CD;
  font-weight: 500;
}

.projectName::after {
  content: " ";
  display: block;
  height: 1px;
  background: #1273CD;
  left: 100%;
}

.secondHeader {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.secondHeader .left-buttons {
  display: flex;
}

.secondHeader .rigth-buttons {
  display: flex;
}

.program table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #00000010;
}

.code {
  padding: 6px;
  background-color: #00000010;
  overflow: auto;
  height: 70%;
  width: 100%;
}

.logs {
  padding: 6px;
  background-color: #00000010;
  overflow: auto;
  height: 20%;
  width: 100%;
}

.decoder {
  margin-right: 19px;
  flex-grow: 1;
  height: 100%;
  background-color: #ffffff;
}

.tableProgram {
  padding: 3px;
}

.tableProgram td {
  vertical-align: top;
  border: 1px solid rgb(255, 255, 255);
  width: 90px;
  height: 116px;
  position: relative;
}


.tableBlocks td {
  margin: 3px;
  width: 90px;
  height: 116px;
  border: 1px solid rgba(18, 115, 205, 0.5);
  border-spacing: 3px;
  position: relative;
}

.tableBlocks {
  border-spacing: 3px;
  padding:3px;
  background-color: #00000010;
}

.is-dragging {

}

.dropzone {
  padding: 0%;
}

.ls-select {
  width: -webkit-fill-available;
  margin:2px;
  text-align-last: center;
  font-size: 1em;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

input[type="number"] {
  width: 63px;
  margin:2px;
  text-align-last: center;
  font-size: 1em;
  border: none;
  position: absolute;
  top: 0;
  left: 19px;
}

.flex-justify{
  display: flex;
  justify-content: space-between;
}

.button-blue{
  display: flex;
  align-items: center;
  color:white;
  background-color: #1273CD;
}

.select2-selection__rendered {
  text-align-last: center;
  font-size: 0.9em;
}

.dropzone .removeBlock {
  display: none;
}

.withBlock .removeBlock {
  cursor: pointer;
  display: flex;
  z-index: 1;
}

.blockError {
  padding: 5px;
  background-color: red;
}

/*scrool bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background: #1273CD; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #417cb3; 
}

